doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Despacho Casmar
    body 
        h1 Hola como estas probando pagina

        p Esot es un parrafo